.jsImg {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    vertical-align: middle;
}

.htmlImg {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    vertical-align: middle;
}

.cssImg {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    vertical-align: middle;
}

.javaImg {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    vertical-align: middle;
}

.bootstrapImg {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    vertical-align: middle;
}

.sqlImg {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    vertical-align: middle;
}

.phpImg {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    vertical-align: middle;
}

.reactImg {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 80%;
    height: 80%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    padding: 1vw;
}

.jsImg:hover .overlay {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 30%;
    left: 10%;
}

.htmlImg:hover .overlay {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 30%;
    left: 10%;
}

.cssImg:hover .overlay {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 30%;
    left: 10%;
}

.bootstrapImg:hover .overlay {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 30%;
    left: 10%;
}

.javaImg:hover .overlay {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 30%;
    left: 10%;
}

.sqlImg:hover .overlay {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 45%;
    left: 10%;
}

.phpImg:hover .overlay {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 30%;
    left: 10%;
}

.reactImg:hover .overlay {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 30%;
    left: 10%;
}

.textHoverSql {
    color: black;
    font-size: 2.7vw;
    position: absolute;
    left: 50%;
    text-align: center;
    width: 100%;
    height: 10vw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.textHover {
    color: black;
    font-size: 3vw;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes textHoveroculto {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}


/*.container-Language:hover {
    position: relative;
    border: 0px solid black;
    box-shadow: 0px 0px 10px 10px #c9fae3;
    background: #ebe8d9;
    /* fallback for old browsers 
    background: -webkit-linear-gradient(to top, #fffdfd, #f1f1f1, #f8f8f8, #e0ded2);
    /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to top, #fffdfd, #f1f1f1, #f8f8f8, #e0ded2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
}/**/

@keyframes creceTitulo {
    0% {
        font: 150% serif;
        text-align: center;
        width: 100vw;
        padding-bottom: 3vw;
        font-size: 3vw;
        height: 8vw;
        color: rgb(93, 85, 107);
    }
    100% {
        font: 150% serif;
        text-align: center;
        width: 100vw;
        font-size: 3.5vw;
        height: 7vw;
        color: rgb(113, 78, 173);
        transform: translate(0vw, -3vw);
    }
}

@keyframes decreceTitulo {
    from {
        font: 150% serif;
        text-align: center;
        width: 100vw;
        font-size: 3.5vw;
        height: 7vw;
        color: rgb(113, 78, 173);
        transform: translate(0vw, -3vw);
    }
    to {
        font: 150% serif;
        text-align: center;
        width: 100vw;
        padding-bottom: 3vw;
        font-size: 3vw;
        height: 8vw;
        color: rgb(93, 85, 107);
    }
}